[*.{cs,vb}]

# IDE0060: Удалите неиспользуемый параметр
dotnet_diagnostic.IDE0060.severity = none

# IDE0040: Добавьте модификаторы доступности
dotnet_style_require_accessibility_modifiers = always:silent
